.button {
  font-size: .85em;
  background-color: $col-app-accent;
  border-radius: 10px;
  border: none;
  color: $col-text-white;
  margin: 3px;
  font-weight: 900;
  box-shadow: $box-shadow-z1;
  cursor: pointer;

  &:hover {
    box-shadow: $box-shadow-z2;
    transform: translateY(-3%);
  }
  &:active {
    box-shadow: none;
    transform: translateY(0);
  }
}