/**
 * Box shadows
 **/
$box-shadow-z1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$box-shadow-z2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$box-shadow-z3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$box-shadow-z4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
$box-shadow-z5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

/**
 * Colors
 **/
$col-app-base: #46b7f1;
$col-app-base-light: #eaf4f8;
$col-app-accent: #ed5750;
$col-app-accent-light: #f39792;

$col-app-neutral: #fcfdfe;

$col-app-gray: #aaa;
$col-app-gray-light: lighten($col-app-gray, 5%);

$col-text-black: #000;
$col-text-gray: darken($col-app-gray, 5%);
$col-text-white: #fefefe;
