@import './shared/styles/variables';

.landing-page {
  text-align: center;

  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  background: url('./shared/images/tiling-question-bg.svg'), $col-app-base;
  background-size: 60px;
}

.kis-hero {
  flex: 0 0 auto;
  box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.2);;
}

.landing-title {
  font-weight: bold;
  color: $col-app-base;
}

.landing-title-accent {
  color: $col-app-accent;
}

.landing-content {
  border-radius: 24px 24px 0 0;
  box-shadow: 0px -3px 10px 0px rgba(0,0,0,0.2);;
  background-color: $col-app-neutral;

  flex: 1 1 100%;

  margin-top: 2em;
}

.divider {
  margin: 0 auto;
  color: $col-text-gray;
}
.divider-line {
  margin: 0 auto;
  height: 1px;
  width: 40vw;
  max-width: 300px;

  border-bottom: 1px solid $col-app-gray;
}
.divider-text {
  width: 2em;
  height: 2em;
  margin: 0 auto;
  margin-top: -12px;
  background: $col-app-neutral;
}


.landing-carousel-container {
  height: 100px;
}

.landing-carousel-control {
  background: none;
  border: none;
  font-size: 200%;
  font-weight: bold;
  color: $col-app-gray;
  height: 40px;
  width: 40px;
}

.speech-bubble-container {
  margin: 0 auto;
  width: 200px;
}

.browse-questions-button {
  padding: 0.3em;
  font-size: 110%;
  border: 2px solid $col-app-accent;
  color: $col-app-accent;
  border-radius: 10px;
  background: none;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

// override nuka-carousel css so that 
// carousel takes up full space 
// and pips do not get in the way on smaller screens
.landing-carousel-container .slider {
  height: 100% !important;
}
.landing-carousel-container .slider-frame {
  height: 100% !important;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
}
// scooch pips out of way of questions
.landing-carousel-container .slider-control-bottomcenter {
  height: 20%;
}
