@import 'src/shared/styles/variables';
@import './shared/styles/button';

$question-search-header-height: 10vh;

.question-search-header {
  position: relative;
  height: $question-search-header-height;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-shadow: $box-shadow-z2;
}

.header-search-bar-container {
  width: 85vw;
}


.question-list-scroll-container {
  background-color: $col-app-neutral;
  width: 100%;
  height: 100vh - $question-search-header-height;
}
.question-list {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.question-list-element {
  position: relative;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid $col-app-gray;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;


  &:after {
    position: absolute;
    font-size: 170%;
    color: $col-app-gray-light;
    right: 10px;
    top: 10px;
    content: '>'
  }
}

.question-list-element .circular-icon {
  width: 50px;
  height: 50px;
  flex: 0 0 50px;
  margin: 0 12px;
  border-radius: 100%;
  background-color: $col-app-gray;
}
.question-list-element .text-container {
  height: 100%;
  margin-right: 30px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
  
.question-list-element .header-text, .question-list-element .body-text {
  display: block;
  width: auto;
  text-align: left;
  overflow: hidden;
}

.question-list-element .header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 0 auto;
}

.question-list-element .body-text {
  color: $col-text-gray;
  flex: 1 1 auto;
}

.question-list-tail {
  position: relative;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid $col-app-gray;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.more-questions-button {
  padding: 0.3em;
  font-size: 120%;
  border: 2px solid $col-app-accent;
  color: $col-app-accent;
  border-radius: 10px;
  background: none;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.question-list-footer {
  position: relative;
  width: 100%;
  height: 80px;
  background-color: $col-app-gray-lightest;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.question-list-footer .info-icon {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  margin: 0 0.5em;

  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 4px solid $col-app-base;
  color: $col-app-base;
  font-weight: bold;
  font-size: 200%;
  line-height: 30px;
}

.question-list-footer .header-text {
  font-size: 115%;
  text-align: center;
  font-weight: bold;
  color: $col-app-base-dark;
}

.ask-expert-button {
  @extend .button;
  padding: 6px;
  width: 60%;
  margin-bottom: 10px;
}